nav {
    background-color: #829aa0;
    color: white;
    padding: 15px;
    display: flex; /* Use flexbox for layout */
    justify-content: flex-start; /* Start aligning from the left */
    align-items: center; /* Center vertically */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Use flexbox for horizontal layout */
    margin-left: auto; /* Push the ul to the right */
}

nav ul li {
    margin-left: 20px; /* Space between navigation items */
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

.container {
    display: flex;
    width: 80%;                 /* Set container width, e.g., 80% of the viewport */
    max-width: 1000px;          /* Optional: Set a max width to prevent it from getting too wide */
    margin: 0 auto;             /* Center the container on the page */
    padding: 20px;              /* Optional: Padding around the container */
    justify-content: center; /* Center the columns horizontally */
}

.column {
    padding: 20px;
    margin: 0 10px; /* Add some space between columns */}

.left {
    flex: 4; /* Set fixed width for columns, adjust as needed */
        background-color: #e6f3ef; /* Light background for left column */
}

.right {
    flex: 6; /* Set fixed width for columns, adjust as needed */
    background-color:   #3b9378; /* Slightly darker background for right column */
    
}

.profileimage-container {
    text-align: center;
}
