body{
    margin: 0;
}

nav {
    background-color: #829aa0;
    color: #f4f4e7;
    padding: 15px;
    display: flex; /* Use flexbox for layout */
    justify-content: flex-start; /* Start aligning from the left */
    align-items: center; /* Center vertically */
    style:"font-family: georgia";
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Use flexbox for horizontal layout */
    margin-left: auto; /* Push the ul to the right */
}

nav ul li {
    margin-left: 20px; /* Space between navigation items */
}

nav ul li a {
    font-size: 22px;
    color: #f4f4e7;
    text-decoration: none;
}
nav ul li a:hover {
    color: #f4f4e7;
    text-decoration: underline;
}

.container {
    style:"font-family: georgia";
    display: flex;
    width: 100%;                /* Full width of the viewport */
    height: 100vh;              /* Optional: Full height of the viewport */
    display: inline-block;      /* Aligns child elements side by side */
    margin: 0;             /* Center the container on the page */
    padding: 0px;              /* Optional: Padding around the container */
    justify-content: center; /* Center the columns horizontally */
}

.column {
    padding: 0px;
    float: left;                /* Float columns to align them side by side */
    margin: 0px; /* Add some space between columns */
}

.left {
    width: 20%; /* Set fixed width for columns, adjust as needed */
    padding:20px;
        background-color: #e6f3ef; /* Light background for left column */
}

.right {
    width: 80%;
    padding: 20px;
    background-color:   #abc8bf ; /* Slightly darker background for right column */
    
}

.profileimage-container {
    text-align: center;
}

footer {
    padding: 20px;
    background-color: #829aa0; 
    color: white;
    text-align: center;
    position: fixed;
    
    bottom: 0;
    width: 100%;
}
.footer-logos {
    display: flex;
    justify-content: center; /* Centers logos in the footer */
    gap: 15px; /* Space between logos */
}

.logo {
    height: 60px; /* Adjust the height as needed */
    opacity: 0.9; /* Slight transparency for effect */
    transition: opacity 0.3s; /* Smooth hover effect */
}
